/*.wrapper {
  height: 100%;
  width: 100%;
}*/
body {
   position: relative;
}
p {
   color: white;
   text-align: center;
   position: relative;
   top: 35%;
   margin-left: 10%;
   margin-right: 10%;
   padding-right: 3%;
   padding-left: 3%;
   font-size: 180%;
   background-color: rgba(50, 0, 100, 0.6);
   border-radius: 16px;
   border-width: thin;
   font-family: sans-serif;
   color: white;
   text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
button:hover {
    opacity: 0.5;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}
button {
   position: fixed;
   bottom: 0px;
   right: 0px;
   font-size: 450%;
   border-radius: 30px;
   background-color: black;
   color: white;
}
#btn1 {
   z-index: 1;
}
#b1 {
   z-index: 2;
}
